body{
    background:rgba(80, 78, 78, 0.877);
}
.wrapper{
    display:flex
}
.album-item{
    cursor: pointer;
}
.album-item:hover{
    color:rgb(165, 32, 32)
}

#listAlbums{
    width: 50%;
}

#listPhotos{
    width: 50%;
}
